[user]
	email = glenn.larsen@gmail.com
	name = Glenn O. Larsen
	signingkey = 6DFF6F1934F0AA82
[cola]
	spellcheck = false
[alias]
	st = status --untracked-files=no
	co = checkout
	up = pull --rebase --autostash
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[pull]
	rebase = true

[fetch]
	prune = true
[diff]
	colorMoved = zebra
[gpg]
	program = /home/glarsen/bin/gpg2-display-aware
[http]
	cookiefile = /home/glarsen/.gitcookies
[safe]
	directory = /opt/flutter
